<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 loginForm">
        <form action="" method="post">
             <div class="container">
               <div class="form-group">
                      <label for="uname"><b>Username</b></label>
                      <input type="text" class="form-control" placeholder="Enter Username" name="uname" required>
               </div>
               <div class="form-group">
                    <label for="psw"><b>Password</b></label>
                    <input type="password"  class="form-control" placeholder="Enter Password" name="psw" required>
               </div>
                <div class="text-center"> 
                      <button type="submit" class="btn btn-primary center-block">Login</button>
                </div> 
                 <div class="text-center"> 
                    <p class="text-danger" style="font-size:24px;">Please Register to <a routerLink="/signup"> Click Here</a> </p>
                </div> 
            </div>
        </form>
    </div>
  </div>
</div>