<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 loginForm">
        <form action="#" method="post" method="post" #loginForm="ngForm" appIdentityRevealed>
             <div class="container">
               <div *ngIf="invalidLogin" class="alert alert-danger">  
                    Invalid username and/or password.  
              </div>
               <div class="form-group">
                      <label for="username"><b>Username</b></label>
                      <input type="text" class="form-control" placeholder="Enter Username" minlength="4" maxlength="25" required name="username" ngModel #username="ngModel">
                      <div class="alert alert-danger" *ngIf='username.touched && !username.valid'>
                        <div *ngIf="username.errors.required"> Username is required!!</div>
                        <div *ngIf="username.errors.minlength">Username minimum to 4 and max 25 characters only! </div>
                      </div>
               </div>
               <div class="form-group">
                    <label for="Password"><b>Password</b></label>
                    <input type="password"  minlength="4" maxlength="10" class="form-control" placeholder="Enter Password" name="password" ngModel #password="ngModel" required>
                    <div class="alert alert-danger" *ngIf='password.touched && !password.valid'>
                        <div *ngIf="password.errors.required">Password is required!!</div>
                        <div *ngIf="password.errors.minlength">Password minimum to 4 and max 10 characters only! </div>
                    </div>
               </div>
                <div class="text-center"> 
                      <button type="submit" class="btn btn-primary center-block" [disabled]="loginForm.invalid">Login</button>
                      <button type="button" class="btn btn-success"(click)="loginForm.resetForm({})">Reset</button>
                </div> 
                 <div class="text-center"> 
                    <p class="" style="font-size:20px;">
                      <button class="btn btn-danger" routerLink="/signup">Please Register Here</button>
                    </p>
                </div> 
              </div>
        </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

