<div class="container">
  <div class="row">
     <div class="col-md-12 home_a1">
        <h2 class="text-center">Welcome <span  class="text-info">{{name}}</span></h2>
            <div class="row">
              <div class="col-md-12">
                <table mat-table>
                  <tr *ngFor="let x of users">
                    <td>{{x.id}}</td>
                    <td>{{x.fullName}}</td>
                    <td>{{x.email}}</td>
                    <td>{{x.phone}}</td>
                    <td>{{x.password}}</td>
                    <td> {{x.gender}}</td>
                    <td>{{x.address}}</td>
                  </tr>
                </table>
                <ng-container matColumnDef="users">
                    <th mat-header-cell *matHeaderCellDef> users </th>
                    <td mat-cell *matCellDef="let x"> {{x.fullName}} </td>
                </ng-container>
              </div>
            </div>
     </div>
  </div>
</div>